@use '../util/' as *;

.input {
  display: flex;
  gap: rem(12);
  border-radius: rem(5);
  margin-bottom: rem(16);
  padding-block: rem(15);
  padding-inline: rem(20);
  background-color: var(--ul-bg);
  transition: background-color 200ms ease-in;

  @include breakpoint-up(medium){
    gap: rem(20);
    margin-bottom: rem(25);
    padding-block: rem(20);
    padding-inline: rem(25);
  }

  &__checkbox {
    position: relative;
    display: block;
    width: rem(20);
    height: rem(20);

    @include breakpoint-up(medium){
      width: rem(25);
      height: rem(25);
    }

    &--button {
      width: rem(20);
      height: rem(20);
      margin: 0;
      appearance: none;
      border: rem(1) solid var(--linethrough-txt); // Temporary
      border-radius: 50%;
      cursor: pointer;  
      transition: border 200ms ease-in;

      &:hover {
        border: rem(1) solid var(--btn-txt-hover);
      }    

      @include breakpoint-up(medium){
        width: rem(25);
        height: rem(25);
      }
    }

    > input[type='checkbox']:checked + span {
      content: url('/images/icon-check.svg');
      position: absolute;
      top: 0%;
      display: block;
      width: rem(20);
      height: rem(20);
      padding: rem(5);
      border: none;
      border-radius: 50%;
      background-image: linear-gradient(145deg, var(--ck-bg-from),var(--ck-bg-to));
      cursor: pointer;

      @include breakpoint-up(medium){
        width: rem(25);
        height: rem(25);
      }
    }
  }

  &__text {
    width: 100%;
    outline: none;
    border: none;
    font-size: rem(12);
    font-family: var(--font-body);
    font-weight: 700;
    color: var(--ul-text);
    background-color: var(--ul-bg);
    transition: background-color 200ms ease-in;

    @include breakpoint-up(medium){
      font-size: rem(18);
    }
  }
}

// Unordered list

ul {
  max-height: rem(370);
  overflow-y: auto;
  margin: 0;
  border-radius: rem(5);
  padding: 0;
  list-style-type: none;

  >:not(:last-child) {
    border-bottom: rem(1) solid var(--linethrough-txt);
  }
  
  @include breakpoint-down(small){
    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @include breakpoint-up(medium){
    max-height: rem(440);
    margin-bottom: rem(25);
  }

  li {
    display: flex;
    gap: rem(12);
    align-items: center;
    padding-block: rem(15);
    padding-inline: rem(20);
    background-color: var(--ul-bg);
    transition: background-color 200ms ease-in;
    color: var(--ul-text);

    @include breakpoint-up(medium){
      gap: rem(20);
      padding-block: rem(20);
      padding-inline: rem(25);
    }

    form {

      label {
        position: relative;
        display: block;
        width: rem(20);
        height: rem(20);

        @include breakpoint-up(medium){
          width: rem(25);
          height: rem(25);
        }

        input[type='checkbox'] {
          width: rem(20);
          height: rem(20);
          margin: 0;
          appearance: none;
          border: rem(1) solid var(--linethrough-txt);
          border-radius: 50%;
          cursor: pointer;
          transition: border 200ms ease-in;

          &:hover {
            border: rem(1) solid var(--btn-txt-hover);
          } 

          @include breakpoint-up(medium){
            width: rem(25);
            height: rem(25);
          }
        }

        input[type='checkbox']:checked + span {
          content: url('/images/icon-check.svg');
          position: absolute;
          top: 0%;
          display: block;
          width: rem(20);
          height: rem(20);
          border-radius: 50%;
          padding: rem(5);
          background-image: linear-gradient(145deg, var(--ck-bg-from),var(--ck-bg-to));
          cursor: pointer;

          @include breakpoint-up(medium){
            width: rem(25);
            height: rem(25);
          }
        }
      }
    }

    div {
      text-overflow: ellipsis;
      overflow-x: hidden;
      flex-grow: 1;
      font-size: rem(14);
      font-weight: 700;
      cursor: pointer;

      @include breakpoint-up(medium){
        font-size: rem(18);
      }
    }

    button {
      flex-shrink: 0;
      width: rem(13);
      height: rem(13);
      border: none;
      background-color: var(--ul-bg);
      background-image: url('/images/icon-cross.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      cursor: pointer;
      transition: background-color 200ms ease-in;

      @include breakpoint-up(medium){
        width: rem(18);
        height: rem(18);
      }
    }
  }
}

.li-completed {
  color: var(--linethrough-txt);
  text-decoration: line-through;
}

.disable-edit {
  pointer-events: none;
}

.filter-m {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(16);
  border-bottom-left-radius: rem(5);
  border-bottom-right-radius: rem(5);
  padding-block: rem(15);
  padding-inline: rem(20);
  background-color: var(--ul-bg);
  transition: background-color 200ms ease-in;
  border-top: rem(1) solid var(--linethrough-txt);

  @include breakpoint-up(medium) {
    display: none;
  }

  span {
    font-size: rem(12);
    color: var(--linethrough-txt);
    transition: color 200ms ease-in;
  }

  button {
    border: none;
    font-size: rem(12);
    font-weight: 700;
    font-family: var(--font-body);
    background-color: var(--ul-bg);
    color: var(--linethrough-txt);
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
      color: var(--btn-txt-hover);
    }
  }
}

// Filter
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(43);
  border-radius: rem(5);
  padding-block: rem(15);
  padding-inline: rem(20);
  background-color: var(--ul-bg);
  transition: background-color 200ms ease-in;

  @include breakpoint-up(medium){
    justify-content: space-between;
    padding-block: rem(20);
    padding-inline: rem(25);
  }

  span {
    font-size: rem(12);
    color: var(--linethrough-txt);
    transition: color 200ms ease-in;

    @include breakpoint-down(small){
      display: none;
    }
  }

  &__options {

    > * {
      border: none;
      font-size: rem(15);
      font-weight: 700;
      font-family: var(--font-body);
      background-color: var(--ul-bg);
      color: var(--btn-txt);
      cursor: pointer;
      transition: all 200ms ease-in;

      &:hover {
        color: var(--btn-txt-hover);
      }
    }

    &--active {
      color: var(--br-blue);
    }
  }

  &__clear {
    border: none;
    font-size: rem(12);
    font-weight: 700;
    font-family: var(--font-body);
    background-color: var(--ul-bg);
    color: var(--linethrough-txt);
    cursor: pointer;
    transition: all 200ms ease-in;

    &:hover {
      color: var(--btn-txt-hover);
    }

    @include breakpoint-down(small){
      display: none;
    }
  }
}

.note {
  text-align: center;
  font-size: rem(14);
  color: var(--btn-txt);
}

.modal {
  position: fixed;
  display: none;
  width: rem(320);
  border-radius: rem(5);
  padding-inline: rem(20);
  padding-block: rem(30);
  background-color: var(--ul-bg);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;

  @include breakpoint-up(medium){
    width: rem(450);
  }

  &__show {
    display: block;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);
    letter-spacing: rem(5);
    text-transform: uppercase;
    color: var(--ul-text);

    button {
      display: block;
      padding: 0;
      margin: 0;
      border: none;
      width: rem(13);
      height: rem(13);
      background-color: var(--ul-bg);
      background-image: url('/images/icon-cross.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      cursor: pointer;

      @include breakpoint-up(medium){
        width: rem(20);
        height: rem(20);
      }
    }
  }

  form {  

    textarea {
      margin-bottom: rem(10);
      width: 100%;
      border: none;
      background-color: var(--main-bg);
      color: var(--ul-text);
      resize: none;
    }

    label {
      display: block;
      margin-bottom: rem(5);
      font-size: rem(12);
      color: lightgreen;
      visibility: hidden;
    }

    // input[type="submit"] {
    //   padding: 0;
    //   margin-right: rem(10);
    //   border: none;
    //   background-color: var(--ul-bg);
    //   color: var(--ul-text);
    //   cursor: pointer;

    //   @include breakpoint-up(medium){
    //     font-size: rem(15);
    //   }
    // }

    button {
      padding: 0;
      margin: 0;
      border: none;
      background-color: var(--ul-bg);
      color: var(--ul-text);
      cursor: pointer;

      @include breakpoint-up(medium){
        font-size: rem(15);
      }
    }
  }
}

.changes-saved {
  visibility: visible !important;
}

.modal-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg);
  top: 0;
  opacity: .5;
  display: none;

  &__show {
    display: block;
  }
}