@use '../util/' as *;

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(40);

  @include breakpoint-up(medium){
    margin-bottom: rem(50);
  }

  .logo {
    font-size: rem(22);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: rem(10);
    color: var(--white);

    @include breakpoint-up(medium){
      font-size: rem(32);
    }
  }

  button {
    width: rem(22);
    height: rem(22);
    border: none;
    padding: 0;
    font-size: rem(10);
    font-family: var(--font-body);
    background-color: transparent;
    background-image: url('../images/icon-moon.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    cursor: pointer; 

    @include breakpoint-up(medium){
      width: rem(32);
      height: rem(32);
    }
  }

  button.night {
    background-image: url('../images/icon-sun.svg');
  }
}